body {
	font-family: Lato;
	font-size: 1em;
	line-height: 12px;
	margin: 0px;
}

.menu {
	border-bottom: solid 1pt;
	width: 100%;
	margin-top: 0px;
}

#topbar {
	position: fixed;
	top: 0px;
	left: 0px;
}

.block {
	float: left;
	display: flex;
	align-items: center;
	overflow: hidden;
	padding-left: 9px;
	padding-right: 9px;
	margin-right: 5px;
}

#title {
	font-size: 16pt;
	font-family: Anthony;
}

#main {
	
}

.button {

}

.box {

	margin: auto;
	margin-top: 1em;

	text-align: center;
	width: 54%;

	overflow: hidden;
}

.button, .box {
	border: solid 2pt;
	border-radius: 10pt;
}

a {
	text-decoration: none;
}

/*Color Pallets==================================================================================*/
.cp-main {
	background: #F8CA00;
	border-color: #490A3D;
}

.cp-menu {

}

.cp-body {
		background-color: #FFFFFF;
}

/*Fonts==========================================================================================*/